.footerMultiply {
  & h6 {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 23px;
  }
}

@media (max-width: 480px) {
  .footerMultiply {
    margin-bottom: 25px;
    & h6 {
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      margin-bottom: 15px;
    }
  }
}
