.latestNewsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  & img {
    width: 100%;
    max-height: 190px;
  }
  & h5 {
    color: #57b8ff;
  }
  &:first-child {
    grid-area: 1 / 1 / 4 / 3;
    & img {
      max-height: 100%;
    }
    & h5 {
      margin: 24px 0 40px;
      font-size: 18px;
      line-height: 18px;
    }
    & p {
      font-size: 36px;
      line-height: 46px;
    }
  }
}

@media (max-width: 480px) {
  .latestNewsItem {
    &:first-child {
      justify-content: center;
      grid-area: 1 / 1 / 4 / 3;
      & h5 {
        font-size: 14px;
        line-height: 14px;
        margin: 10px 0 20px;
      }
      & p {
        font-size: 24px;
        line-height: 30px;
      }
    }
    & h5 {
      font-size: 10px;
      line-height: 14px;
      margin: 5px 0 10px;
    }
    & p {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
